[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/hiera"]
	path = modules/hiera
	url = https://github.com/voxpupuli/puppet-hiera
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
[submodule "modules/prometheus"]
	path = modules/prometheus
	url = https://github.com/voxpupuli/puppet-prometheus
[submodule "modules/systemd"]
	path = modules/systemd
	url = https://github.com/camptocamp/puppet-systemd
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/voxpupuli/puppet-archive
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql
[submodule "modules/redis"]
	path = modules/redis
	url = https://github.com/voxpupuli/puppet-redis
[submodule "modules/openvpn"]
	path = modules/openvpn
	url = https://github.com/voxpupuli/puppet-openvpn
