[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/hiera"]
	path = modules/hiera
	url = https://github.com/voxpupuli/puppet-hiera
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
